/**
 * @author Nick Sullivan
 */


*{
	
	outline : none;
	text-decoration : none;
}

body{

	background-color : #FFFFFF;
	margin : 0px;
	padding : 0px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;
	
	overflow : hidden; /*Stops scrolling*/
	
	-webkit-user-select : none;
	-khtml-user-select : none;
	-moz-user-select : none;
	-ms-user-select : none;
	user-select : none;
}

div{

	background-color : rgba(255, 255, 255, 0.75);
	padding : 3px 6px 3px 6px;
}

hgroup{

	margin : 0px;
	padding : 6px 6px 12px 6px;
}

<!--
UI LISTS
MAIN MENU
-->

div{}

.UI_MainMenu{}


<!--
UI LISTS
OBJECT PROPERTIES
-->

div{}

.UI_ObjectProperties{

	display: inline-block;
	width : 100%;
	height : 47px;
}

.UI_ObjectProperties hgroup{

	float : left;
}

.UI_ObjectProperties div{
	
	margin : 0px;
	padding : 1.75px;
	float : left;
}


<!--
UI LISTS
TOOLBAR
-->

li{

	display : list-item;
	list-style-type : none;
	text-align : left;
}

ol{

	list-style-type : none;
}

ol ol{

	list-style-type : none;
	padding-left : 0px;
}


<!--
UI TOOLBAR
-->

div{}

.UI_ToolBar{
	
	position : absolute;
	top : 92px;
	left : 0px;
	width : 50px;
	border : 1px solid black;
	padding : 0px;
	margin : 0px;
	z-index: 10;
}

.UI_ToolBarItems{

	list-style-type : none;
	padding : inherit;
	margin : inherit;
}

hr{

	border-top : 0px;
	border-right : 0px;
	border-bottom : solid black 1px;
	border-left : 0px;
}

/*
.ToolBarItems_Section{

	border-bottom : solid black 1px;
}

ol:last-child{

	border-bottom : none black 0px;
}
*/

#ToolBarItems_Select{}tems_Create{}
#ToolBarItems_Canvas{}

.UI_ToolBarItem{

	padding : 0px;
	margin : 0px;
	width : 50px;
	height : 50px;
	overflow : hidden;
}

input[ type="radio" ]{
	position : relative;
	top : -50px;
	width : inherit;
	height : inherit;
	margin : auto;
	padding : inherit;
	color : white;	
	border : 0px;
	
	-webkit-appearance : none;
}

.UI_ToolBarItem div{

	position : inherit;
	width : inherit;
	height : inherit;
	padding : inherit;
	overflow : inherit;
}


.UI_ToolBarItem img{

	position : relative;
	top : 0px;
	left : 0px;
}


<!--
UI CANVAS
-->

canvas{}

.UI_Canvas{

	position : absolute;
	margin : 0%;
	border : 1px solid black;
	z-index: -1;
}


<!--
UI TEST OUTPUT /////////////////////////////////////////////////////
-->

div{}

#TestControl{

	width: 500px;
	border : 2px solid black;
	margin : auto;
	text-align: center;
	z-index : 1000;
}

.UI_TestOutput{

	border : 2px solid black;
	margin : 5px;
	z-index : 1000;
}

